// global style setting
$text_color: #000000;
$h_color:#1d2129;
$container-width:980px;
$df-font-size: 14px;
$border-color: #bdc7d8;
$white-color: #fff;

// global header 
$header-bg-1:#3b5998;
$header-bg-2:#4e69a2;
$border-bule: #133783;
$colorA: #365899;

// default width website
@mixin container-width {
    width: $container-width;
    margin: 0 auto;
}

@mixin fwidth-left($width,$float) {
    width: $width;
    float: $float;
    display:block;
}
@mixin container-width-moblie{
     width:calc(100% - 30px);
     margin-left: 15px;
     margin-right: 15px;
}
@mixin sp_befor_afert{
    background: #ced0d4;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
}
// reset css
body{
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: $h_color;
    margin: 0;
    padding: 0;
}
a {
    color: $colorA;
    cursor: pointer;
    text-decoration: none;
    font-size: $df-font-size - 2;
    &:hover{
        text-decoration: underline;
    }
}


// custom css 
.container{
    color: $text_color;
}
.inputtext{
    border: 1px solid $border-color;
    margin: 0;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/* header css */
.header-container{
    height: 82px;
    min-height: 42px;
    min-width: $container-width;
    background-color:$header-bg-1;
    background-image: linear-gradient($header-bg-2, $header-bg-1 50%);
    border-bottom: 1px solid $border-bule;
    @media screen and (max-width: 1000px) {
         min-width:auto;
    }
    @media screen and (max-width: 768px) {
        height: 44px;
    }
    /* header main */
    .header-main{
        @include container-width;
        display: block;
        overflow: hidden;
        padding: 11px 0px;
        @media screen and (max-width: 1000px) {
            @include container-width-moblie;
            padding: 7px 0;
        }
        .logo-container{
            float: left;
            padding-top: 20px;
            @media screen and (max-width: 768px) {
                float: none;
                margin: 0 auto;
                text-align: center;
                padding-top:0px;
            }
            .fb_logo {
                width: 170px;
                height: 34px;
                background: url("../images/smile.png");
                display: inline-block;
                background-position: 0 0;
                @media screen and (max-width: 768px) {
                    width: 123px;
                    height: 24px;
                    background: url("../images/smile2.png");
                    background-position: 0 -25px;
                }
            }
        }
        .login-container {
            float: right;
            display: inline-block;
            @media screen and (max-width: 768px) {
                display: none;
            }
            .formlogin{
                .form-group{
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    input{
                        border: 1px solid #1d2a5b;
                        &:focus {outline: thin dotted;}
                        
                    }
                    &:last-child{
                        margin-right: 0px;
                        margin-top: 20px;
                        border:1px solid#29487d;
                    }
                    *{
                        display: block;
                    }
                    label{
                        color: $white-color;
                        font-size: $df-font-size - 1;
                        margin-bottom: 5px;
                    }
                    &.fsubmit{
                        #lsubmit{
                            background: #4267b2;
                            border:none;
                            color: $white-color;
                            cursor: pointer;
                            padding: 2px 6px;
                            line-height: 18px;
                            font-weight: bold;
                            white-space: nowrap;
                            font-size: $df-font-size - 1;
                            line-height: 20px;
                            &:hover{
                                background-color: $colorA;
                                border-color: #29487d;
                            }
                        }
                       
                    }
                    a{
                        color: #9cb4d8;
                        font-weight: normal;
                        margin-top: 5px;
                    }
                }
                
            }
            
        }
        
    }
   /* end header main */
}
/* end header css */
/* container css */
.main-container{
    background: linear-gradient($white-color, #D3D8E8);
    @include fwidth-left(100%,left) ;
    @media screen and (max-width: 768px) {
        background: #eceff5;
    }
    .global-container{
        @include container-width;
        @media screen and (max-width: 1000px) {
            @include container-width-moblie;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
        &.mglobal-container{
            display: none;
            width: 60%;
            margin: 0 auto;
            padding-top: 16px;
            @media screen and (max-width: 768px) {
                display: block;
                
            }
            .mcontainer{
                @include fwidth-left(100%,left);
                margin-bottom: 10px;
                .login_identify_step_element{
                    @include fwidth-left(100%,left);
                    border: 1px solid;
                    border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
                    background: $white-color;
                    input{
                        @include fwidth-left(100%,left);
                        -webkit-appearance: none;     
                        box-sizing: border-box;
                        padding: 12px;
                        border: medium none;
                        background: transparent;
                        font-size: $df-font-size;
                        -webkit-appearance: none;
                        box-sizing: border-box;
                    }
                    .m_login_button{
                        text-shadow: 0 -1px rgba(0, 0, 0, .25);
                        border: none;
                        border-radius: 3px;
                        box-sizing: border-box;
                        position: relative;
                        -webkit-user-select: none;
                        z-index: 0;
                        height: 36px;
                        width: 100%;
                        cursor: pointer;
                        span{
                            color: $white-color;
                            font-weight: bold;
                            font-size: $df-font-size;
                        }
                        &::before {
                            border-radius: 4px;
                            bottom: -1px;
                            content: "";
                            left: -1px;
                            pointer-events: none;
                            position: absolute;
                            right: -1px;
                            top: -1px;
                            transform: none;
                            z-index: -1;
                            background-color: #627aad;
                            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
                        }
                        &::after{
                            border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .26);
                            box-shadow: 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 1px 0 rgba(0,0,0,.03);
                            content: "";
                        }
                    }
                    &:first-child{
                        border-bottom: none;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                    &:nth-child(2){
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    &:last-child{
                        border: none;
                        background: transparent;
                        margin-top: 12px;
                    }
                }
                &.mstep_element{
                    text-align: center;
                    white-space: nowrap;
                    font-size: $df-font-size;
                    margin-bottom: 0px;
                }
                &.mlogin_more{
                    margin-bottom: 0px;
                }
                .mmesseageor {
                    @include fwidth-left(90%,left);
                    margin-left: 5%;
                    margin-right: 5%;
                    margin-top: 10px;
                    overflow: hidden;
                    position: relative;
                    &::before {
                        margin-right: 15px;
                        right: 55%;
                        @include sp_befor_afert;
                    }
                    &::after{
                        left: 55%;
                        margin-left: 15px;
                        @include sp_befor_afert;
                    }
                }
                #signup-button{
                    @include fwidth-left(auto,left);
                    text-align: center;
                    margin: 12px 30%;
                    background: linear-gradient(#75ab4b, #4a8532);
                    border-color: #68954c #427329 #386a24;
                    color: $white-color;
                    font-size: $df-font-size;
                    font-weight: bold;
                    padding:10px 20px;
                    border-radius: 4px;
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .22), 0 1px 0 rgba(0, 0, 0, .08);
                    &:hover{
                        text-decoration: none;
                    }
                }
                ul{
                    padding-left: 0;
                    text-align: center;
                    margin-top: 0;
                    li{
                        display: inline-block;
                        a{
                            color: #7596c8;
                            font-size: 12px;
                            line-height: 16px;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        span{
                            color: #4b4f56;
                        }
                    }
                }
            }
        }
        .main-float-left{
            margin-right: 15px;
            width: 565px;
            float: left;
            @media screen and (max-width: 1000px) {
                 width: 57%;
            }
            .ltitle{
                color: #0e385f;
                float: left;
                margin-top: 30px;
                font-size: $df-font-size + 6;
                line-height: 29px;
                font-weight: bold;
                word-spacing: -1px;
                margin-right: 90px;
            }
            img{
                width: 547px;
                height: 195px;
                @media screen and (max-width: 1000px) {
                    width: auto;
                    max-width: 100%;
                }
            }
        }
        .main-float-right{
            width: 400px;
            float: right;
            padding-bottom: 30px;
            @media screen and (max-width: 1000px) {
                width: 40%;
            }
            .rmaintitle{
                @include fwidth-left(100%,left) ;
                padding: 20px 0;
                h2{
                    font-size: $df-font-size + 22;
                    color: #333;
                }
                p{
                    color: $h_color;
                    font-size: $df-font-size + 5;
                    margin-top: 10px;
                    margin-bottom:0px;
                }
            }
            .registration_container{
                @include fwidth-left(100%,left) ;
                
                .formregistration{
                    @include fwidth-left(100%,left) ;
                }
                .form_group{
                    @include fwidth-left(100%,left) ;
                    margin-bottom: 10px;
                    input{
                        font-size: $df-font-size + 4;
                        padding: 8px 10px;
                        border-color: $border-color;
                        border-radius: 5px;
                        margin: 0;
                        width: 377px;
                        @media screen and (max-width: 1000px) {
                            width: 92.5%;
                        }

                    }
                }
                .form_group_header{
                    margin-top: 10px;
                    color: $h_color;
                    font-size: 18px;
                    font-weight: normal;
                   margin-bottom:5px;
                }
                .form_group_container{
                    @include fwidth-left(100%,left) ;
                    .group_container_left{
                        margin-right: 10px;
                         @include fwidth-left(auto,left) ;
                        select{
                            font-size: $df-font-size - 1;
                            height: 30px;
                            padding: 5px;
                            letter-spacing: inherit;
                            border: 1px solid $border-color;
                        }
                    }
                    .group_container_right{
                        @include fwidth-left(160px,left) ;
                        a{
                            font-size: $df-font-size - 3;
                            max-width: 150px;
                            margin-top: 0px;
                            display: block;
                            line-height: 15px;
                        }
                    }
                }
                .group_left,.group_right{
                    margin-right: 8px;  
                    display: inline-block;
                    float: left;
                    @media screen and (max-width: 1000px) {
                        width: 48%;
                    }
                    input{
                        width: 172px;
                        @media screen and (max-width: 1000px){
                             width: 88%;
                        }
                    }
                }
                .group_right{
                   margin-right: 0px;  
                }
                .form_group_fwidht{
                    span{
                        display: inline-block;
                        padding: 5px 0 5px 4px;
                        :first-child{
                            margin-right: 4px;
                        }
                        label{
                            color: $h_color;
                            font-size: $df-font-size + 4;
                            font-weight: normal;
                            line-height: 18px;
                            padding: 0 10px 0 3px;
                        }
                    }
                    input{
                        width: inherit;
                    }
                }
                .pdescription{
                    color: #777;
                    font-size: $df-font-size - 3;
                    margin-right: 73px;
                    margin-top: 0px;
                }
                
                .rsubmit{
                    font-size: $df-font-size + 5;
                    background: linear-gradient(#67ae55, #578843);
                    background-color: #69a74e;
                    box-shadow: inset 0 1px 1px #a4e388;
                    border-color: #3b6e22 #3b6e22 #2c5115;
                    color: $white-color;
                    border-width: 1px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-shadow: 0 1px 2px rgba(0,0,0,.5);
                    min-width: 194px;
                    padding: 7px 20px;
                    text-align: center;
                    font-weight: bold;
                    &:hover{
                        background: linear-gradient(#79bc64, #578843);
                    }
                }
                .ft_registration_container{
                    @include fwidth-left(100%,left) ;
                    border-top: 1px solid #dddfe2;
                    color: #666;
                    font-size: $df-font-size - 1;
                    font-weight: bold;
                    margin-top: 10px;
                    padding-top: 15px;
                }
            }
                
        }
        
    }
}
/* end container css */    
/* footer*/
.fooret-container{
    @include fwidth-left(100%,left) ;
    background: $white-color;
    a{
        text-decoration: none;
        white-space: nowrap;
        &:hover{text-decoration: underline;}
    }
    .fooret-main{
        @include container-width ;
        @media screen and (max-width: 1000px) {
            @include container-width-moblie;
        }
    }
    .top-footer{
        padding-top: 8px;
        padding-left: 0;
        color: #737373;
        margin-top: 0px;
        font-size: $df-font-size - 2;
        margin-bottom: 0;
        &.top-footer-mobile{
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
        @media screen and (max-width: 768px) {
           @include fwidth-left(100%,left);
           display: none;
        }
        li{
            display: inline-block;
            margin-top: 0px;
            padding-left: 10px;
            @media screen and (max-width: 830px) {
                margin-bottom: 10px;
            }
            @media screen and (max-width: 768px) {
                float: left;
                margin-bottom: 3px;
                padding: 0;
                text-align: center;
                width: 50%;
            }
            a{
                @media screen and (max-width: 768px) {
                    color:#576b95;
                    text-decoration: none;
                }
            }
            &:first-child{
                padding-left: 0px;
                @media screen and (max-width: 768px) {
                    font-weight: bold;
                }
            }
            &:last-child{
                border: 1px solid#ced0d4;
                height: 18px;
                padding-left: 0;
                margin-left: 5px;
                vertical-align: middle;
                @media screen and (max-width: 768px) {
                    float: right;
                    margin-right: 24%;
                    position: relative;
                    width: 18px;
                    height: 18px;
                    border-radius: 4px;
                    border-color:$header-bg-1;
                    color: #4080ff;
                }
                &:hover{
                    background-color: #e9ebee;
                    
                }
                a{
                    height: 18px;
                    line-height: 18px;
                    background-image: url("../images/icon.png");
                    width: 12px;
                    height: 12px;
                    background-position: 0 -155px;
                    display: block;
                    margin: 3px 5px;
                    @media screen and (max-width: 768px) {
                        margin:3px;
                    }
                }
            }
        }
    }
    .contentCurve{
        border-bottom: 1px solid #dddfe2;
        font-size: 1px;
        height: 8px;
        margin-bottom: 8px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .wrapMainUl{
        width: $container-width + 80;
        @media screen and (max-width: 1160px) {
            width: 100%;
        }
        ul{
            display: inline-block;
            margin-top: 5px;
            padding-left: 0;
            vertical-align: top;
            padding-right: 10px;
            margin-bottom: 0px;
            @media screen and (max-width: 1000px) {
                margin-bottom: 10px;
                padding-left: 0;
                padding-right: 0;
                width: 15%;
                &:nth-child(3){
                    width: 20%;
                }
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
            li{
                display: block;
                a{
                    position: relative;
                    .more_ads{
                        width: 16px;
                        height: 16px;
                        background-position: 0 -121px;
                        background-image: url("../images/icon.png");
                        background-size: auto;
                        background-repeat: no-repeat;
                        display: inline-block;
                        position: absolute;
                        top: -1px;
                    }
                }
            }
            &:not(:first-child){
                padding-left: 10px;
                @media screen and (max-width: 1000px) {
                    padding-left: 0px;
                }
            }
            &:last-child{
                padding-right: 0px;
                @media screen and (max-width: 1160px) {
                    @media (min-width: 1001px){
                        padding-left: 0px;
                    }
                }
            }
        }
    }
    .copyright{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: $df-font-size - 3;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
        span{
            color: #737373;
        }
    }
}
/*end footer*/